.DS_Store
.vscode/
.idea/
*.suo
*.sln

__pycache__/
**/__pycache__/
*.py[cod]
.venv/
venv/
ENV/
env/
.ipynb_checkpoints/
**/.ipynb_checkpoints/
.pytest_cache/

.env
*.log

*.csv
*.xlsx
*.pkl
*.joblib
*.keras
*.h5
